<!DOCTYPE html>
<html>

  <head>
  
    <title>OREFOX</title>
    <!-- TO DO: link the CSS stylesheet -->

    <!-- link the Merriweather font-->
    <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet"/>
	<link rel="stylesheet" href="Style.css" />
	
  </head>
  
  <body>
  
    <!-- the header -->
    <header>
      <!-- icon -->
      <div id="icon">
    <img src="img/Orefox Logo.png" alt="Icon" style="font-size:64px"" />
      </div>
      <!-- navigation links -->
      <nav>
        <ul>
          <li><a href="UserReg.html">Login &nbsp;&nbsp;</a></li>
          <li><a href="">Services &nbsp;&nbsp;</a></li>
		  <li><a href="">Model</a></li>
        </ul>
      </nav> 
    </header>
	
	<section class="one">
        <!-- content  -->
         <div class="one__content">
		
           <h2 style="text-align:center">  Main Heading </h2>
		  
           <img style="text-align:center" src="img/Geoimage.png" align="middle" alt="Upload Image" height="120" width="400"  />
		   
		   <h3 style="text-align:center" > Mission and Vision </h3>
		   <p>Our mission is to put our clients at the centre of geological data science innovation,
		   allowing you to make significant mineral deposit discoveries faster and mine more efficiently, 
		   using a science-based, data driven machine & deep learning approach.
OreFox makes analytics accessible to anyone seeking insights from data – regardless of skill or experience –
 you send us your data, we analyse it, find insights and send it back to you. </p>
		   
		   <h3 style="text-align:center"> Mineral Exploration </h3>
		   <p>
The OreFox Prospector System is a data-driven, deterministic system, inspired by greenfields exploration work, 
in areas of low data density, using a supervised deep-learning algorithm that compares the data of Australian economic gold & 
copper deposits against the data of areas to be explored. The system looks for correlations in data, previously hidden patterns,
 clusters and relationships across massive datasets. The system can find up to 16 million unique signatures for each deposit and
 can search 1600 square kilometres at a time. We also offer a secure off site back up plus and security features to help guard against potential areas of vulnerability. 
 Researching new data science methods for exploration & mining is our lifeblood. 
We stay at the forefront of new research, so you don't have to. </p>
         </div>     
	  
	</section>
	<footer>
     
	 
    </footer>
</html>
      