
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90%;
   
    margin-top: 60px ;
    margin-left: 210px 210px;
    margin-right: 210px 210px;
   
  }
  
 
  
  
  